body {
    font-family: Arial, sans-serif;
    background-color: #4dacf5; /* Azul claro como fondo */
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color: #004d40; /* Verde oscuro para el logo */
}

h2, h3 {
    color: #00796b; /* Verde medio para los títulos */
    text-align: center;
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    max-width: 400px;
    width: 100%;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="date"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #42983a; /* Verde para los botones */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 95%;
    margin-top: 10px; /* Añade margen superior para los botones */
}

button:hover {
    background-color: #15a198; /* Verde más oscuro al pasar el mouse */
}

/* Botón "¿No tienes una cuenta? Regístrate" con margen superior */
#loginForm + button {
    margin-top: 15px; /* Añade un margen para separarlo del botón anterior */
    background-color: transparent;
    color: #42983a;
    border: none;
    text-align: center;
    width: 100%;
    cursor: pointer;
}

#loginForm + button:hover {
    color: #15a198; /* Verde más oscuro al pasar el mouse */
}

ul {
    list-style-type: none;
    padding: 0;
}

#medication-form {
    margin-top: 20px;
}

#dispenserBtn {
    margin-top: 20px;
    display: block;
}

/* Media Queries para Responsividad */
@media (max-width: 600px) {
    body {
        padding: 10px;
    }

    h1 {
        font-size: 24px;
    }

    h2, h3 {
        font-size: 20px;
    }

    form {
        padding: 15px;
    }

    button {
        padding: 8px;
    }
}

